body {
    color: white;
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  
  .bar {
    background-color: #8b4828;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  .cav{
    height: 130px;
    width: 150px;
  }

  .logo {
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 15px;
  
  }
  
  .nav-buttons {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 8px;
    border: 2px solid white;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    background-color: white;
    color: #8b4828;
  }
  
  .blocos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    padding: 40px;
    place-items: center;
  }
  
  
  .um {
    background-color: #9b512f;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .info {
    background-color: rgb(179, 113, 38);
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: bold;
  }
  