body {
  font-family: Arial, sans-serif;
  background-color: #f7f2ec;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px auto;
  max-width: 700px;
 
}
.pre{
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  text-align: center;
  color: #8b4828;
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 15px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
}

input[type="file"] {
  padding: 5px;
}

button {
  margin-top: 25px;
  padding: 12px;
  background-color: #8b4828;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a95233;
}
@media (max-width: 700px){
  .pre h1{
    font-size: 20px;
  }
  .pre{
    font-size: 13px;
  }
  .pre button{
    font-size: 13px
  }
}
